<!DOCTYPE html>
<html lang="id">

<head>

<meta charset="UTF-8">

<title>Kelola Reservasi</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="table-page">

<div class="table-container">

<h1>📋 Data Reservasi Studio</h1>

<div class="button-area">

    <a href="{{ url_for('home') }}"
       class="btn-home">

       Home

    </a>

    <a href="{{ url_for('tambah') }}"
       class="btn-add">

       + Booking Baru

    </a>

</div>

<table>

<tr>

<th>ID</th>
<th>Nama</th>
<th>Telepon</th>
<th>Paket</th>
<th>Tanggal</th>
<th>Jam</th>
<th>Aksi</th>

</tr>

{% for data in container %}

<tr>

<td>{{ data.id }}</td>
<td>{{ data.nama }}</td>
<td>{{ data.telepon }}</td>
<td>{{ data.paket }}</td>
<td>{{ data.tanggal }}</td>
<td>{{ data.jam }}</td>

<td>

<a href="{{ url_for('ubah', id=data.id) }}"
   class="edit-btn">

   Edit

</a>

<a href="{{ url_for('hapus', id=data.id) }}"
   class="delete-btn"
   onclick="return konfirmasiHapus()">

   Hapus

</a>

</td>

</tr>

{% endfor %}

</table>

</div>

<script src="{{ url_for('static',
filename='js/script.js') }}"></script>

</body>

</html>